USE [master]
GO
/****** Object:  Database [MarkersOnMap]    Script Date: 16.08.2022 20:41:18 ******/
CREATE DATABASE [MarkersOnMap]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Markers', FILENAME = N'D:\Projects\MapWithMarkers\DataBase\Markers.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Markers_log', FILENAME = N'D:\Projects\MapWithMarkers\DataBase\Markers.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MarkersOnMap].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MarkersOnMap]
GO
/****** Object:  Table [dbo].[Markers]    Script Date: 16.08.2022 20:41:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Markers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MarkerName] [nchar](20) NOT NULL,
	[СoordinateX] [real] NOT NULL,
	[СoordinateY] [real] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Markers] ON 

INSERT [dbo].[Markers] ([Id], [MarkerName], [СoordinateX], [СoordinateY]) VALUES (1, N'Камаз               ', 55.0878, 81.82205)
INSERT [dbo].[Markers] ([Id], [MarkerName], [СoordinateX], [СoordinateY]) VALUES (2, N'Погрузчик           ', 55.0382538, 82.27661)
INSERT [dbo].[Markers] ([Id], [MarkerName], [СoordinateX], [СoordinateY]) VALUES (3, N'База                ', 54.983242, 82.8965454)
SET IDENTITY_INSERT [dbo].[Markers] OFF
GO
USE [master]
GO
